<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace bind a DAO/USER interface-->
<mapper namespace="com.bai.dao.UserDao">
    <!--    id == UserDaoImpl, resultType User instead List<User>-->
    <select id="getUserList" resultType="com.bai.pojo.User">
        select *
        from mybatis.user
    </select>
</mapper>