<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--core conf-->
<configuration>
    <properties resource="db.properties"/>

    <typeAliases>
        <!--        alias class name setting-->
        <!--        <typeAlias type="com.bai.pojo.User" alias="User"/>-->
        <!--or auto scan package, and mapper.xml  use user(recommend) instead User-->
        <package name="com.bai.pojo"/>
    </typeAliases>

    <environments default="test">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url"
                          value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

    </environments>
    <!--    every mapper.xml need register at mybatis.xml core config file-->
    <mappers>
        <!--  resource path, use file path(/) not class path(.)-->
        <mapper resource="com/bai/dao/UserMapper.xml"/>


    </mappers>
</configuration>